@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link href="~/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Hindari scroll vertikal */
        }

        .layout-wrapper, .page-content {
            height: 100%;
        }

        .page-content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .page-content > .d-flex {
            flex-grow: 1;
            overflow: hidden;
        }

        .right-panel {
            min-width: 250px;
            max-width: 500px;
            overflow-y: auto;
            border-left: 1px solid #ddd;
        }

        .card-right {
            border-radius: 10px;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .nav-pills .nav-link {
            text-align: center;
            border-radius: 6px;
            padding: 10px 12px;
            font-size: 13px;
            font-weight: 500;
            color: #555;
            background-color: #f1f5f9;
        }

        .nav-pills .nav-link.active {
            background-color: #0c4a6e;
            color: #fff;
        }

        .nav-justified .nav-item {
            flex: 1 1 auto;
        }

        .nav-justified .nav-link {
            width: 100%;
        }
    </style>
}

<div class="d-flex h-100">
    <!-- MAP CONTAINER -->
    <div id="map" class="flex-grow-1"></div>

    <!-- RIGHT SIDEBAR (BARU) -->
    <div class="right-panel bg-light p-3" style="width: 800px;">
        <div class="card card-right">
            <div class="card-body">
                <ul class="nav nav-pills navtab-bg nav-justified mb-3" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#ews" role="tab">
                            <span>EWS</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#curah" role="tab">
                            <span>CURAH HUJAN</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#muka" role="tab">
                            <span>MUKA AIR</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" id="ews">
                        <div class="table-responsive">
                            <table id="table-ews" class="table dt-responsive nowrap w-100">
                                <thead class="table-light">
                                    <tr>
                                        <th>Pos Peringatan</th>
                                        <th>Status</th>
                                        <th>Muka Air</th>
                                        <th>Kritis</th>
                                        <th>Peringatan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>-</td>
                                        <td>1.5</td>
                                        <td>2.1</td>
                                        <td>3.5</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>-</td>
                                        <td>1.5</td>
                                        <td>2.1</td>
                                        <td>3.5</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>-</td>
                                        <td>1.5</td>
                                        <td>2.1</td>
                                        <td>3.5</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>-</td>
                                        <td>1.5</td>
                                        <td>2.1</td>
                                        <td>3.5</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>-</td>
                                        <td>1.5</td>
                                        <td>2.1</td>
                                        <td>3.5</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>-</td>
                                        <td>1.5</td>
                                        <td>2.1</td>
                                        <td>3.5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane show active" id="curah">
                        <div class="table-responsive">
                            <table id="table-rainfall" class="table dt-responsive nowrap w-100">
                                <thead class="table-light">
                                    <tr>
                                        <th>Pos Pengamatan</th>
                                        <th>Pengukuran</th>
                                        <th>Tanggal</th>
                                        <th>CH</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="muka">
                        <div class="table-responsive">
                            <table id="table-tma" class="table dt-responsive nowrap w-100">
                                <thead class="table-light">
                                    <tr>
                                        <th>Pos Pengamatan</th>
                                        <th>Pengukuran</th>
                                        <th>Tanggal</th>
                                        <th>TMA</th>
                                        <th>Debit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                        <td>10.4</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                        <td>10.4</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                        <td>10.4</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                        <td>10.4</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                        <td>10.4</td>
                                    </tr>
                                    <tr>
                                        <td>Kota Bengkulu</td>
                                        <td>A/M</td>
                                        <td>2025-07-15 14:50</td>
                                        <td>2.1</td>
                                        <td>10.4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/index.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4jqcen5Xqrgck4V73aL6VepyKp2_wK1U&callback=initMap" async defer></script>

    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/js/pages/datatables.js"></script>
}