@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .layout-wrapper, .page-content {
            height: 100%;
        }

        .page-content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .page-content > .d-flex {
            flex-grow: 1;
            overflow: hidden;
        }

        .right-panel {
            min-width: 250px;
            max-width: 650px;
            overflow-y: auto;
            border-left: 1px solid #ddd;
        }

        .card-right {
            border-radius: 10px;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .nav-pills .nav-link {
            text-align: center;
            border-radius: 6px;
            padding: 10px 12px;
            font-size: 13px;
            font-weight: 500;
            color: #555;
            background-color: #f1f5f9;
        }

        .nav-pills .nav-link.active {
            background-color: #0c4a6e;
            color: #fff;
        }

        .nav-justified .nav-item {
            flex: 1 1 auto;
        }

        .nav-justified .nav-link {
            width: 100%;
        } 

        .gm-style-mtc {
            transform: scale(0.7); /* Adjust scale to make it smaller */
            transform-origin: top left; /* Make sure the buttons stay aligned to the top-left */
        }

        .gm-style iframe + div { border:none!important; }  
        .gm-style-iw-chr {
            position: absolute;
            display: flex;
            top: 0;
            right: 0;
        }

        .gm-style-iw.gm-style-iw-c {
            padding-top: 10px !important;
        }     

        .awlr-marker {
            width: 22px;
            height: 22px;
            background-color: #1B84FF;
            border: 1px solid #E7EAED;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        .awlr-marker::after {
            content: "T";
            color: white;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .arr-marker {
            width: 24px;
            height: 24px;
            background-color: #17C653;
            border: 1px solid #E7EAED;
            border-radius: 50%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        .arr-marker::after {
            content: "T";
            color: white;
            font-size: 14px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .alert-siaga3 {
            position: relative; /* Ensure the pseudo-element is positioned correctly */
        }

        .alert-siaga3::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgba(255, 218, 79);
            animation: animate-siaga3 1.5s linear infinite;
            z-index: -1;
        }

        .alert-siaga2 {
            position: relative; /* Ensure the pseudo-element is positioned correctly */
        }

        .alert-siaga2::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgba(255, 218, 79);
            animation: animate-siaga2 1.5s linear infinite;
            z-index: -1;
        }

        .alert-siaga1 {
            position: relative; /* Ensure the pseudo-element is positioned correctly */
        }

        .alert-siaga1::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgba(255, 218, 79, .8);
            animation: animate-siaga1 1.5s linear infinite;
            z-index: -1;
        }
    </style>
}

<div class="d-flex h-100">
    <div class="flex-grow-1 d-flex flex-column">
        <!-- MAP CONTAINER -->
        <div id="map" style="flex: 1;"></div>

        <div id="bottom-body" class="bg-white border-top p-3">
            <marquee id="marquee" scrollamount="4" behavior="scroll" direction="left">
                <span>
                    <span><small class="mdi mdi-circle text-success"></small></span>
                    AWLR AIR BENGKULU (EWS) (1.62 <sup>m</sup>) 
                    <span class="text-danger">  ||  </span>
                </span>
                <span>
                    <span><small class="mdi mdi-circle text-success"></small></span>
                    AWLR AIR DIKIT (1.33 <sup>m</sup>) 
                    <span class="text-danger">  ||  </span>
                </span>
                <span>
                    <span><small class="mdi mdi-circle text-success"></small></span>
                    AWLR BENGKULU HILIR (1.01 <sup>m</sup>) 
                    <span class="text-danger">  ||  </span>
                </span>
                <span>
                    <span><small class="mdi mdi-circle text-success"></small></span>
                    AWLR BENGKULU HULU (0.47 <sup>m</sup>) 
                    <span class="text-danger">  ||  </span>
                </span>
            </marquee>
        </div>
    </div>

    <div class="right-panel bg-light p-3" style="width: 800px;">
        <div class="card card-right">
            <div class="card-body">
                <ul class="nav nav-pills navtab-bg nav-justified mb-3" role="tablist" id="tab-center-left">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab-arr" role="tab">
                            <i class="bx bx-cloud-rain bx-fw"></i>
                            <span>CURAH HUJAN</span>
                            <span class="badge bg-success rounded ms-1" data-plugin="counterup" id="total-arr">6</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-awlr" role="tab">
                            <i class="bx bx-water bx-fw"></i>
                            <span>MUKA AIR</span>
                            <span class="badge bg-primary rounded ms-1" data-plugin="counterup" id="total-awlr">4</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane show active" id="tab-arr">
                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> ARR BAJAK</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT172</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">11.25</h5>
                                        <small class="text-muted">Waktu (WIB)</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">0.00 mm</h5>
                                        <small class="text-muted">Curah Hujan</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <img src="/assets/images/arr/berawan-siang.png" width="30" alt="Berawan">
                                        <div><small class="text-muted">Tidak Ada Hujan</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> ARR NENGGALO</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT818</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">11.25</h5>
                                        <small class="text-muted">Waktu (WIB)</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">0.00 mm</h5>
                                        <small class="text-muted">Curah Hujan</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <img src="/assets/images/arr/berawan-siang.png" width="30" alt="Berawan">
                                        <div><small class="text-muted">Tidak Ada Hujan</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> ARR SARI BULAN</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT109</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">11.25</h5>
                                        <small class="text-muted">Waktu (WIB)</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">0.00 mm</h5>
                                        <small class="text-muted">Curah Hujan</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <img src="/assets/images/arr/berawan-siang.png" width="30" alt="Berawan">
                                        <div><small class="text-muted">Tidak Ada Hujan</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> ARR SIDODADI</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT111</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">11.25</h5>
                                        <small class="text-muted">Waktu (WIB)</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">0.00 mm</h5>
                                        <small class="text-muted">Curah Hujan</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <img src="/assets/images/arr/berawan-siang.png" width="30" alt="Berawan">
                                        <div><small class="text-muted">Tidak Ada Hujan</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> ARR SUKA MAJU</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT173</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">11.25</h5>
                                        <small class="text-muted">Waktu (WIB)</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">0.00 mm</h5>
                                        <small class="text-muted">Curah Hujan</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <img src="/assets/images/arr/berawan-siang.png" width="30" alt="Berawan">
                                        <div><small class="text-muted">Tidak Ada Hujan</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> ARR TANJUNG JAYA</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT746</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">11.25</h5>
                                        <small class="text-muted">Waktu (WIB)</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">0.00 mm</h5>
                                        <small class="text-muted">Curah Hujan</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <img src="/assets/images/arr/berawan-siang.png" width="30" alt="Berawan">
                                        <div><small class="text-muted">Tidak Ada Hujan</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-awlr">
                        @* <div onclick="detailStation(this,event)" class="card-station-awlr" data-ts-id="${awlr_last_reading.id}" id="card-station-awlr-${awlr_last_reading.id}" data-last-update="${(awlr_last_reading.readingAt == null) ? '' : moment(awlr_last_reading.readingAt).locale('id').format('YYYY-MM-DD HH:mm:ss')}" data-name="${awlr_last_reading.name}" data-device="${awlr_last_reading.deviceId}" data-type="${awlr_last_reading.type}" data-siaga1="${awlr_last_reading.siaga1}" data-siaga2="${awlr_last_reading.siaga2}" data-siaga3="${awlr_last_reading.siaga3}">
                            
                        </div> *@

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> AWLR AIR BENGKULU (EWS)</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT859</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">-</h5>
                                        <small class="text-muted">Debit</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">1.62 <sup>m</sup></h5>
                                        <small class="text-muted">Tinggi Muka Air</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <span class="badge bg-success ms-2">NORMAL</span>
                                        <div><small class="text-muted">Status Siaga</small></div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="progress" style="height: 10px; border-radius: 8px;">
                                            <div class="progress-bar bg-success" style="width: 25%; border-top-left-radius: 8px; border-bottom-left-radius: 8px;"></div>
                                            <div class="progress-bar bg-warning" style="width: 25%;"></div>
                                            <div class="progress-bar bg-orange" style="width: 25%; background-color: #ff9800;"></div>
                                            <div class="progress-bar bg-danger" style="width: 25%; border-top-right-radius: 8px; border-bottom-right-radius: 8px;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mt-1 px-1" style="font-size: 0.75rem;">
                                            <span class="text-success">0</span>
                                            <span class="text-warning">3.5 m</span>
                                            <span class="text-orange" style="color: #ff9800;">3.8 m</span>
                                            <span class="text-danger">4.2 m</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini, 11:45 WIB
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> AWLR AIR DIKIT</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT753</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">-</h5>
                                        <small class="text-muted">Debit</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">1.33 <sup>m</sup></h5>
                                        <small class="text-muted">Tinggi Muka Air</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <span class="badge bg-success ms-2">NORMAL</span>
                                        <div><small class="text-muted">Status Siaga</small></div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="progress" style="height: 10px; border-radius: 8px;">
                                            <div class="progress-bar bg-success" style="width: 25%; border-top-left-radius: 8px; border-bottom-left-radius: 8px;"></div>
                                            <div class="progress-bar bg-warning" style="width: 25%;"></div>
                                            <div class="progress-bar bg-orange" style="width: 25%; background-color: #ff9800;"></div>
                                            <div class="progress-bar bg-danger" style="width: 25%; border-top-right-radius: 8px; border-bottom-right-radius: 8px;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mt-1 px-1" style="font-size: 0.75rem;">
                                            <span class="text-success">0</span>
                                            <span class="text-warning">3.5 m</span>
                                            <span class="text-orange" style="color: #ff9800;">3.8 m</span>
                                            <span class="text-danger">4.2 m</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini, 11:45 WIB
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> AWLR BENGKULU HILIR</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT741</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">-</h5>
                                        <small class="text-muted">Debit</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">1.01 <sup>m</sup></h5>
                                        <small class="text-muted">Tinggi Muka Air</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <span class="badge bg-success ms-2">NORMAL</span>
                                        <div><small class="text-muted">Status Siaga</small></div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="progress" style="height: 10px; border-radius: 8px;">
                                            <div class="progress-bar bg-success" style="width: 25%; border-top-left-radius: 8px; border-bottom-left-radius: 8px;"></div>
                                            <div class="progress-bar bg-warning" style="width: 25%;"></div>
                                            <div class="progress-bar bg-orange" style="width: 25%; background-color: #ff9800;"></div>
                                            <div class="progress-bar bg-danger" style="width: 25%; border-top-right-radius: 8px; border-bottom-right-radius: 8px;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mt-1 px-1" style="font-size: 0.75rem;">
                                            <span class="text-success">0</span>
                                            <span class="text-warning">3.5 m</span>
                                            <span class="text-orange" style="color: #ff9800;">3.8 m</span>
                                            <span class="text-danger">4.2 m</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini, 11:45 WIB
                            </div>
                        </div>

                        <div class="card shadow-sm mb-3"></div>
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <span><i class="text-success me-2"><small class="mdi mdi-circle text-success me-1"></small></i> AWLR BENGKULU HULU</span>
                                <span>
                                    <span class="fw-semibold">Higertech</span>
                                    <span class="badge bg-secondary ms-2">HGT729</span>
                                </span>
                            </div>
                            <div class="card-body">
                                <div class="row text-center align-items-center">
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">-</h5>
                                        <small class="text-muted">Debit</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <h5 class="mb-0">0.47 <sup>m</sup></h5>
                                        <small class="text-muted">Tinggi Muka Air</small>
                                    </div>
                                    <div class="col-md-4 mb-2">
                                        <span class="badge bg-success ms-2">NORMAL</span>
                                        <div><small class="text-muted">Status Siaga</small></div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="progress" style="height: 10px; border-radius: 8px;">
                                            <div class="progress-bar bg-success" style="width: 25%; border-top-left-radius: 8px; border-bottom-left-radius: 8px;"></div>
                                            <div class="progress-bar bg-warning" style="width: 25%;"></div>
                                            <div class="progress-bar bg-orange" style="width: 25%; background-color: #ff9800;"></div>
                                            <div class="progress-bar bg-danger" style="width: 25%; border-top-right-radius: 8px; border-bottom-right-radius: 8px;"></div>
                                        </div>

                                        <div class="d-flex justify-content-between mt-1 px-1" style="font-size: 0.75rem;">
                                            <span class="text-success">0</span>
                                            <span class="text-warning">3.5 m</span>
                                            <span class="text-orange" style="color: #ff9800;">3.8 m</span>
                                            <span class="text-danger">4.2 m</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fa-solid fa-clock"></i> Hari Ini, 11:45 WIB
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/index.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4jqcen5Xqrgck4V73aL6VepyKp2_wK1U&libraries=marker&callback=initMap" async defer></script>
    
    <script>
        function formatNumber(num) {
            if(num == null || num == '') return ""
            // Ubah angka menjadi string dengan format lokal
            return num.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
        }
    </script>
}