@{
    ViewData["Title"] = "Tabel Monitoring";
}

@section Styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <style>
        .bg-berawan {
            background-color: rgba(204, 204, 204, .4) !important;
        }

        .bg-hujan-ringan {
            background-color: rgba(57, 166, 245, .6) !important;
        }

        .bg-hujan-sedang {
            background-color: rgba(247, 184, 75, .6) !important;
        }

        .bg-hujan-lebat {
            background-color: rgba(242, 131, 35, .6) !important;
        }

        .bg-hujan-sangat-lebat {
            background-color: rgba(239, 83, 80, .6) !important;
        }

        .box-legend {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 10px;
            margin-right: 0.4rem;
        }
    </style>
}

<div class="px-3">
    <div class="container-fluid">
        <div class="py-3 py-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="page-title mb-0">Tabulasi</h4>
                </div>
                <div class="col-lg-6">
                    <div class="d-none d-lg-block">
                        <ol class="breadcrumb m-0 float-end">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Menu</a></li>
                            <li class="breadcrumb-item active">Tabulasi</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header" style="background: #2189c0;">
                <h4 class="card-title mb-0 text-white"><i class="fa fa-water me-1"></i> POS DUGA AIR</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="awlr-table" class="table table-sm table-hover table-centered m-0 w-100">
                        <thead>
                            <tr>
                                <th class="text-center">NO.</th>
                                <th>NAMA POS</th>
                                <th class="text-center">ID LOGGER</th>
                                <th>LOKASI</th>
                                <th>WS</th>
                                <th>DAS</th>
                                <th class="text-center">TANGGAL</th>
                                <th class="text-center">TMA rata<sup>2</sup></th>
                                <th class="text-center">TMA Max</th>
                                <th class="text-center">TMA Min</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>AWLR AIR BENGKULU (EWS)</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT859</span></td>
                                <td>Kota Bengkulu, Kec. Muara Bangka Hulu, Rawa Makmur</td>
                                <td>BENGKULU ALAS TALO</td>
                                <td>DAS BENGKULU</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">1.77</td>
                                <td class="text-center">1.6</td>
                                <td class="text-center">2.15</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td>AWLR BENGKULU HILIR</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT741</span></td>
                                <td>Kab. Bengkulu Tengah, Kec. Talang Empat, Jayakarta</td>
                                <td>BENGKULU ALAS TALO</td>
                                <td>DAS BENGKULU</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0.83</td>
                                <td class="text-center">0.78</td>
                                <td class="text-center">0.89</td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td>AWLR BENGKULU HULU</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT729</span></td>
                                <td>Kab. Bengkulu Tengah, Kec. Karang Tinggi, Penanding</td>
                                <td>BENGKULU ALAS TALO</td>
                                <td>DAS BENGKULU</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0.46</td>
                                <td class="text-center">0.44</td>
                                <td class="text-center">0.48</td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td>AWLR AIR DIKIT</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT753</span></td>
                                <td>Kab. Mukomuko, Kec. Air Dikit, Sari Bulan</td>
                                <td>TERAMANG MUAR</td>
                                <td>DAS DIKIT</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">1.25</td>
                                <td class="text-center">1.19</td>
                                <td class="text-center">1.31</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header bg-success">
                <h4 class="card-title mb-0 text-white"><i class="fa fa-cloud-rain me-1"></i> POS CURAH HUJAN</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="arr-table" class="table table-sm table-hover table-centered m-0 w-100">
                        <thead>
                            <tr>
                                <th class="text-center">NO.</th>
                                <th>NAMA POS</th>
                                <th class="text-center">ID LOGGER</th>
                                <th>LOKASI</th>
                                <th>WS</th>
                                <th>DAS</th>
                                <th class="text-center">TANGGAL</th>
                                <th class="text-center">CH <small class="text-muted">(mm)</small></th>
                                <th class="text-center">Intensitas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>ARR BAJAK</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT172</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0</td>
                                <td class="text-center">Tidak Ada Hujan</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td>ARR NENGGALO</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT102</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0</td>
                                <td class="text-center">Tidak Ada Hujan</td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td>ARR NENGGALO 2</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT818</span></td>
                                <td>Kab. Mukomuko, Kec. Teramang Jaya, Nenggalo</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0</td>
                                <td class="text-center">Tidak Ada Hujan</td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td>ARR SARI BULAN</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT109</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0</td>
                                <td class="text-center">Tidak Ada Hujan</td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td>ARR SIDODADI</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT111</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0</td>
                                <td class="text-center">Tidak Ada Hujan</td>
                            </tr>
                            <tr>
                                <td class="text-center">6</td>
                                <td>ARR SUKA MAJU</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT173</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0</td>
                                <td class="text-center">Tidak Ada Hujan</td>
                            </tr>
                            <tr>
                                <td class="text-center">7</td>
                                <td>ARR TANJUNG JAYA</td>
                                <td class="text-center"><span class="badge badge-outline-blue rounded-1 ms-1">HGT746</span></td>
                                <td>Kota Bengkulu, Kec. Sungai Serut, Tanjung Jaya</td>
                                <td>-</td>
                                <td>-</td>
                                <td class="text-center">22 Juli 2025</td>
                                <td class="text-center">0</td>
                                <td class="text-center">Tidak Ada Hujan</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer pt-0 bg-white mt-2" style="border-bottom-left-radius: 0.4285rem;border-bottom-right-radius: 0.4285rem;">
                <div class="row mt-4">
                    <div class="col-12 col-md-12 text-end">
                        <div class="row justify-content-end mb-2">
                            <div class="col-auto small">
                                <div class="d-flex align-items-center mb-1">
                                    <span class="box-legend" style="background:rgba(204, 204, 204, .4);"></span>
                                    :
                                    <div class="text-start ms-2">
                                        Tidak Hujan
                                        <br /> <small class="text-muted">0 mm / hari</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto small">
                                <div class="d-flex align-items-center mb-1">
                                    <span class="box-legend" style="background:rgba(57, 166, 245, .6);"></span>
                                    :
                                    <div class="text-start ms-2">
                                        Hujan Ringan
                                        <br /> <small class="text-muted">5 - 20 mm / hari</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto small">
                                <div class="d-flex align-items-center mb-1">
                                    <span class="box-legend" style="background:rgba(247, 184, 75, .6);"></span>
                                    :
                                    <div class="text-start ms-2">
                                        Hujan Sedang
                                        <br /> <small class="text-muted">20 - 50 mm / hari</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto small">
                                <div class="d-flex align-items-center mb-1">
                                    <span class="box-legend" style="background:rgba(242, 131, 35, .6);"></span>
                                    :
                                    <div class="text-start ms-2">
                                        Hujan Lebat
                                        <br /> <small class="text-muted">50 - 100 mm / hari</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto small">
                                <div class="d-flex align-items-center mb-1">
                                    <span class="box-legend" style="background:rgba(239, 83, 80, .6);"></span> :
                                    <div class="text-start ms-2">
                                        Hujan Sangat Lebat
                                        <br /> <small class="text-muted">> 100 mm / hari</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small>Sumber : <a class="fst-italic" href="javascript:void(0)" onclick="window.open('/data/BMKG-Buletin-Meteorologi-Edisi-Maret-2020.pdf', '_blank', 'width=500, height=500'); return false;">BMKG-Buletin-Meteorologi-Edisi-Maret-2020</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

@section Scripts {
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
} *@